body {
    text-align: center; /* Center-align text content */
    margin: 0 auto; /* Center horizontally by setting left and right margins to auto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Center vertically by using viewport height */
}

#BTNImage{
    width: 200px;
    height: 200px;
}

#btn1{
    border: 1;
    background-size: auto;
    background-image: url(picture1.webp);
    border: 4px solid rgb(7, 7, 7);
    background-color: rgb(247, 3, 3);
}

#btn2{
    border: 1;
    background-size: auto;
    background-image: url(picture2.webp);
    border: 4px solid rgb(7, 7, 7);
    background-color: rgb(247, 3, 3);
}

#btn3{
    border: 1;
    background-size: auto;
    background-image: url(picture3.jpeg);
    border: 4px solid rgb(7, 7, 7);
    background-color: rgb(247, 3, 3);
}

#btn4{
    border: 1;
    background-size: auto;
    background-image: url(picture4.jpeg);
    border: 4px solid rgb(7, 7, 7);
    background-color: rgb(247, 3, 3);
}

#Image1{
    width: 700px;
    height: auto;

}
#Image2{
    width: 700px;
    height: auto;

}
#Image3{
    width: 700px;
    height: auto;

}
#Image4{
    width: 700px;
    height: auto;

}